.avatar {
    margin-right: 8px;
}
.card-container {
    margin-bottom: 50px;
}
.card-list {
    margin-top: 70px;
    width: 650px;
}
.icon {
    margin-right: 8;
}
.upload-list {
    align-items: center;
    border-width: null;
    display: flex;
    justify-content: center;
    width: 100%;
}
